<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="cssFiles=${{'/css/dashboard.css'}}, jsFiles=${{'/js/dashboard.js'}}">
    <head th:replace="~{fragments/head :: head('Dashboard', ${jsFiles}, ${cssFiles})}"></head>
</th:block>
<body style="display: flex;flex-direction: column;align-items: center;height: 100dvh;padding: 1rem">

<img th:src="@{'/assets/Logo Sol Rural.png'}"
     alt="Sol Rural Logo"
     style="object-fit: contain; aspect-ratio: 16/9; height: 6rem"/>

<h2 th:text="Farms" style="margin: 0 auto"></h2>

<div style="width: 40%;border: 1px solid;margin-top: 2rem;display: flex;gap: 1rem;flex-direction: column">
    <div th:insert="~{fragments/FarmDashboardCard :: FarmDashboardCard(${farm})}"
         th:each="farm : ${farms}"></div>
</div>

</body>
</html>